body {
	font-family: sans-serif;
	text-align: center;
}

.logo {
	font-size: 128px;
	line-height: 80px;
	font-weight: bold;
}

.logo p {
	font-size: 16px;
	font-weight: bold;
}

.footer {
	position: absolute;
	margin-bottom: 4px;
	width: 100%;
	font-size: 10px;
	text-align: center;
}

.button-a {
	font-weight: bold;
	border: 2px solid red;
	padding: 8px;
	margin: 4%;
}