body {
	font-family: sans-serif;
	text-align: center;
	color: black;
}

.logo {
	font-size: 128px;
	line-height: 80px;
	font-weight: bold;
}

.logo-h2 {
	font-size: 48px;
	margin-bottom: 20px;	
}

.logo p {
	font-size: 16px;
	font-weight: bold;
}

.footer {
	position: absolute;
	margin-bottom: 4px;
	width: 100%;
	font-size: 10px;
	text-align: center;
}

.button-a {
	font-weight: bold;
	border: 2px solid red;
	padding: 8px;
	margin: 4%;
}

.content-box {
	border: 1px solid gray;
	padding: 16px;
	text-align: justify;
}

.title-h3 {
	font-size: 32px;
	text-indent: 8px;
}

.text {
	text-indent: 32px;
}