body {
	font-family: sans-serif;
	text-align: center;
}

.indexOverlay {
	color: white;
	padding: 5px;
}

.small-logo {
	font-size: 24px;
	line-height: 16px;
	font-weight: bold;
}

.hidden-link {
	text-decoration: none;
	color: inherit;
}

.front-logo h1 {
	font-size: 128px;
	line-height: 108px;
	font-weight: bold;
	padding: 16px; 
}

.front-logo p {
	font-size: 16px;
	font-weight: bold;
}

.profile-select {
	font-size: 32px;
	background-color: rgba(0, 0, 0, 0.651);
	padding: 32px;
}

.profile-button {
	font-size: 24px;
	font-weight: bold;
	border: 2px solid red;
	padding: 8px;
	margin: 24px;
	text-decoration: none;
	color: inherit;
}

.page-title {
	font-size: 48px;
	margin-bottom: 20px;	
}

.content-box {
	border: 1px solid gray;
	padding: 16px;
	text-align: justify;
}

.title-h3 {
	font-size: 32px;
	text-indent: 8px;
}

.content-h {
	font-size: 32px;
	text-align: center;
}

.content {
	width: 100%;
	height: 256px;
}

.text {
	text-indent: 32px;
}

.footer {
	float: bottom;
	position: absolute;
	margin-bottom: 4px;
	width: 100%;
	font-size: 10px;
	text-align: center;
}

.videoFront {
	position: fixed;
  	right: 0;
  	bottom: 0;
  	min-width: 100%;
  	min-height: 100%;
  	z-index: -1;
}